/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --header-color: #db00ff;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --text-color-with-background: #000028;
  --paragraph-color:#f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --button-color: #ff0070;
  --button-hover-color: #ff007066;
  --accent-color-rec:#ff0070;
  --decorative-corners-color: #ff0070;
}