/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --header__color: #db00ff;
  --accent-color: #ff0070;
  --text-color-with-bg: #000028;
  --article__paragraph-color:#f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --button-hover-color: #ff007066;
  --accent-color-rec:#ff0070;
}